
.depositContext {
    flex: 1;
}

.seeMore {
    margin-top: 30px;
}

.appBarShift {
    visibility:hidden;
}

.drawerPaperClose {
    visibility:hidden;
}

.drawerPaper {
    visibility: visible;
    position: 'relative';
    white-space: 'nowrap';
    width: 240px;
  }

  .arrow_box {
    height: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
}