.dots {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Reset styles */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dots__item_inactive {
    /* Rounded border */
    border-radius: 9999px;
    height: 12px;
    width: 12px;

    /* Inactive dot */
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.3);

    /* OPTIONAL: Spacing between dots */
    margin: 0 4px;
}

.dots__item_active {
    /* Rounded border */
    border-radius: 9999px;
    height: 12px;
    width: 12px;
    background-color: rgba(0, 0, 0, 0.3);
    /* OPTIONAL: Spacing between dots */
    margin: 0 4px;
}