.btn {
  border: none;
  padding: 0;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  font-size: 3em;
  color: #fff;
  padding: 0;
  margin: 0;
  background: red;
	position: relative;
	z-index: 999;
  display: inline-block;
    line-height: 100px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
}

.pulseRing {
  content: '';
  width: 100px;
  height: 100px;
  background: #189BFF;
  border: 5px solid #189BFF;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  animation: pulsate infinite 1.5s;
}

.pulse-ring.delay{
	animation-delay: 1s;
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3, 1.3);
    opacity: 0;
  }
}
